@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f8f8f8;
    --foreground: #000000;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Ensure all text is black */
* {
  color: #000000 !important;
}